#header-nav
{
    border-radius: 0;
    border:0;
    background-color: dimgray; 
}
#brandname
{
    color: whitesmoke;
}
.menubar
{
    font-size: 1.3em;
    color: black;
    text-align: center;
}
#collapsable-nav
{
    background-color: whitesmoke;
}
.main-q
{
    border:10px 10px 10px 10px solid black;
    background-color: dimgray;
    height: 1000px;
    margin-bottom: 10px;
}
.main-q > p
{
    font-size: 40px;
    color: whitesmoke;
}
